*Initialize spark and define a config*

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql import functions as f

spark = SparkSession.builder \
    .appName("spark") \
    .getOrCreate()

config = {
    "datasets_path": "/content/drive/MyDrive/Colab Notebooks/data-engineer-test/datasets/",
    "olympics_output_path": "/content/drive/MyDrive/Colab Notebooks/data-engineer-test/datasets/output/olympics",
    "countries_output_path": "/content/drive/MyDrive/Colab Notebooks/data-engineer-test/datasets/output/countries",
    "region_codes_path": "/content/drive/MyDrive/Colab Notebooks/data-engineer-test/datasets/country_codes",
    "olympics_w_country_data_output_path": "/content/drive/MyDrive/Colab Notebooks/data-engineer-test/datasets/output/olympics_w_country_data"
}

*Start to "Olympics" task*

In [2]:
# define some helper functions for below

def get_location_and_year(file_name: str):
  """
  Returns the location & year parsed out of the received file name
  Expects the first 2 values to be location and year separated by either a space or _
  """
  file_name = file_name.replace('_', ' ')
  split_name = file_name.strip().split(' ')
  return split_name[0], int(split_name[1])

In [3]:
from pyspark.sql.types import StructType, StructField, StringType, IntegerType
import os

files = os.listdir(config['datasets_path'] + 'olympics')

# Define the schema
output_schema = StructType([
    StructField("Location", StringType(), True),
    StructField("Year", IntegerType(), True),
    StructField("Gold", IntegerType(), True),
    StructField("Silver", IntegerType(), True),
    StructField("Bronze", IntegerType(), True),
    StructField("Total", IntegerType(), True),
    StructField("Nation", StringType(), True)
])

final_df = spark.createDataFrame([], schema=output_schema)

In [4]:
for file_name in files:
  print(f'Processing {file_name}')
  location, year = get_location_and_year(file_name)

  df = spark.read.csv(config['datasets_path'] + 'olympics/' + file_name, header=True)
  df = (df
        .withColumn("Location", f.lit(location))
        .withColumn("Year", f.lit(year))
        .withColumn("Gold", f.col("Gold").cast(IntegerType()))
        .withColumn("Silver", f.col("Silver").cast(IntegerType()))
        .withColumn("Bronze", f.col("Bronze").cast(IntegerType()))
        .withColumn("Total", f.col("Total").cast(IntegerType()))
        .selectExpr("Location", "Year", "Gold", "Silver", "Bronze", "Total", "NOC as Nation")
        )
  final_df = final_df.unionByName(df)

Processing Tokyo 2020 Olympics Nations Medals.csv
Processing Torino 2006 Olympics Nations Medals.csv
Processing Athens 2004 Olympics Nations Medals.csv
Processing Vancouver 2010 Olympics Nations Medals.csv
Processing PyeongChang 2018 Olympics Nations Medals.csv
Processing Rio 2016 Olympics Nations Medals.csv
Processing London 2012 Olympics Nations Medals.csv
Processing Lillehammer 1994 Olympics Nations Medals.csv
Processing Paris 2024 Olympics_Nations Medals.csv
Processing Nagano 1998 Olympics Nations Medals.csv
Processing beijing_2022_Olympics_Nations_Medals.csv
Processing Sydney 2000 Olympics Nations Medals.csv
Processing Sochi 2014 Olympics Nations Medals.csv
Processing SaltLakeCity 2002 Olympics Nations Medals.csv
Processing Atlanta 1996 Olympics Nations Medals.csv

In [5]:
final_df.write.parquet(config['olympics_output_path'], mode='overwrite')

In [6]:
# TESTS
# Would typically have this in a separate file broken out into a python package, but for the sake of not setting up infrastruture for a quick coding test, just throwing some simple tests here

def test_get_location_and_year():
  location, year = get_location_and_year('Kentucky 2024 more words_897')
  assert location == 'Kentucky'
  assert year == 2024

  location, year = get_location_and_year('NewMexico_2025_moreasdlkjfwords_897')
  assert location == 'NewMexico'
  assert year == 2025


test_get_location_and_year()

*End to "Olympics" task*

*Start to "Countries" task*

In [7]:
countries_schema = StructType([
    StructField("Country", StringType(), True),
    StructField("Region", StringType(), True),
    StructField("Population", StringType(), True),
    StructField("Area (sq. mi.)", StringType(), True),
    StructField("Pop. Density (per sq. mi.)", StringType(), True),
    StructField("Coastline (coast/area ratio)", StringType(), True),
    StructField("Net migration", StringType(), True),
    StructField("Infant mortality (per 1000 births)", StringType(), True),
    StructField("GDP ($ per capita)", StringType(), True),
    StructField("Literacy (%)", StringType(), True),
    StructField("Phones (per 1000)", StringType(), True),
    StructField("Arable (%)", StringType(), True),
    StructField("Crops (%)", StringType(), True),
    StructField("Other (%)", StringType(), True),
    StructField("Climate", StringType(), True),
    StructField("Birthrate", StringType(), True),
    StructField("Deathrate", StringType(), True),
    StructField("Agriculture", StringType(), True),
    StructField("Industry", StringType(), True),
    StructField("Service", StringType(), True)
])


countries_df = spark.read.csv(config['datasets_path'] + 'countries/countries of the world.csv', header=True, schema=countries_schema);
countries_df.write.parquet(config['countries_output_path'], mode='overwrite')

*End to "Countries" task*

*Start to "Combing Olympics and Countries" task*

In [8]:
olympics_df = spark.read.parquet(config["olympics_output_path"])
countries_df = spark.read.parquet(config["countries_output_path"])

# The only relationship that can be made to olympics would have to do with the "Nation" column created which appears to be abbreviated countries
# To combat this I made an intermediary table that can associate the two tables together better - see "generate_country_codes.py"
region_codes_df = spark.read.parquet(config["region_codes_path"])

# See "Look for missing matches" cell below how I found these values
region_code_replacements = {
    "North Korea": "Korea, North",
    "South Korea": "Korea, South",
    "Great Britain": "United Kingdom",
    "CÃ´te d'Ivoire": "Cote d'Ivoire",
    "Bahamas": "Bahamas, The",
    "Serbia and Montenegro": "Serbia",
    "Trinidad and Tobago": "Trinidad & Tobago",
    "North Macedonia": "Macedonia"

}
region_codes_df = region_codes_df.replace(region_code_replacements, subset=["Country"])

# outliers to be aware of:
# - ROC - Russian Olympic Committee
#     - Depending on usage we may want to make this Russia but I'm going to leave it out for now
# - AIN - Individual Neutral Athletes
#     - Another 'Russia' one, but will be left out for now
# - ROT - I think this is Refugee Olympic Team which won't associate with a country
# - IOA - Independent Olympic Athletes
# - OAR - Another Russia one that won't match up unless specified
# - TPE - Chinese Taipei - excluded for now because I'm not sure if that is considered China or not

# Left join to see data that doesn't connect to a country
olympics_w_country = olympics_df.join(region_codes_df, on="Nation", how="left")

# Countries missing from countries_df thus being ignored (See "Look for missing matches" below):
missing_countries = ["Montenegro", "Yugoslavia", "Kosovo"]
olympics_w_country = olympics_w_country.filter(~f.col("Country").isin(missing_countries))

olympics_w_country.filter(f.col("Country").isNull()).show()

# Verify every nation is found
print(f'{olympics_w_country.filter(f.col("Country").isNull()).select("Nation").distinct().count()} nations who medaled could not be mapped to a country')

+------+--------+----+----+------+------+-----+-------+
|Nation|Location|Year|Gold|Silver|Bronze|Total|Country|
+------+--------+----+----+------+------+-----+-------+
+------+--------+----+----+------+------+-----+-------+

0 nations who medaled could not be mapped to a country

In [9]:
# join it with countries
ignore_nations = ["ROC", "AIN", "OAR", "ROT", "IOA", "TPE"]

# left join to only keep countries with olympic data
olympics_w_country_data = (olympics_w_country
                           .filter(~f.col("Nation").isin(ignore_nations))
                           .withColumn("Country", f.trim(f.col("Country")))
  .join(countries_df.withColumn("Country", f.trim(f.col("Country"))), on="Country", how="left")
)

In [10]:
# Look for missing matches
olympics_w_country_data.filter(f.col("Population").isNull()).show()

missing_nations = [row.Country for row in olympics_w_country_data.filter(f.col("Population").isNull()).select("Country").distinct().collect()]

print(f'{len(missing_nations)} nations  could not map back to a country: {missing_nations}')

# Used this line to search for countries that appeared missing at first but just had a different name in countries_df
countries_df.filter(f.col("Country").like("%Bah%")).show()

+-------+------+--------+----+----+------+------+-----+------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
|Country|Nation|Location|Year|Gold|Silver|Bronze|Total|Region|Population|Area (sq. mi.)|Pop. Density (per sq. mi.)|Coastline (coast/area ratio)|Net migration|Infant mortality (per 1000 births)|GDP ($ per capita)|Literacy (%)|Phones (per 1000)|Arable (%)|Crops (%)|Other (%)|Climate|Birthrate|Deathrate|Agriculture|Industry|Service|
+-------+------+--------+----+----+------+------+-----+------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
+-------+------+--------+----+----+------+------+-----+------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+

0 nations  could not map back to a country: []
+-------------+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
|      Country|              Region|Population|Area (sq. mi.)|Pop. Density (per sq. mi.)|Coastline (coast/area ratio)|Net migration|Infant mortality (per 1000 births)|GDP ($ per capita)|Literacy (%)|Phones (per 1000)|Arable (%)|Crops (%)|Other (%)|Climate|Birthrate|Deathrate|Agriculture|Industry|Service|
+-------------+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
|Bahamas, The |LATIN AMER. & CAR...|    303770|         13940|                      21,8|                       25,41|         -2,2|                             25,21|             16700|        95,6|            460,6|       0,8|      0,4|     98,8|      2|    17,57|     9,05|       0,03|    0,07|    0,9|
|     Bahrain |NEAR EAST        ...|    698585|           665|                    1050,5|                       24,21|         1,05|                             17,27|             16900|        89,1|            281,3|      2,82|     5,63|    91,55|      1|     17,8|     4,14|      0,005|   0,387|  0,608|
+-------------+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+

In [11]:
# Now we're in a state with as many matches as possible, so write out the data asset
olympics_w_country_data.write.mode('overwrite').parquet(config['olympics_w_country_data_output_path'])

*End combing olympics and countries task*

In [12]:
# just some messing around with the final output for potential use cases
df = spark.read.parquet(config['olympics_w_country_data_output_path'])
df.show()

print("Most medals won in single year by a nation")
df.orderBy(f.col("Total").desc()).show()

print("\nMost medals won by a single nation in 2024")
df.filter(f.col("Year") == "2024").orderBy(f.col("Total").desc()).show()

print("\nMost medals won all time")
df.groupBy("Country").agg(f.sum(f.col("Total")).alias("Total")).orderBy(f.col("Total").desc()).show()

print("\nMost medals won all time based on most recent population")
(df.groupBy("Country").agg(
    f.sum(f.col("Total")).alias("Total"),
    f.max("Population").alias("Max Population"))
.withColumn("Medals / population", f.col("Total") / f.col("Max Population"))
.orderBy(f.col("Medals / population").desc()).show()
)

+--------------+------+--------+----+----+------+------+-----+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
|       Country|Nation|Location|Year|Gold|Silver|Bronze|Total|              Region|Population|Area (sq. mi.)|Pop. Density (per sq. mi.)|Coastline (coast/area ratio)|Net migration|Infant mortality (per 1000 births)|GDP ($ per capita)|Literacy (%)|Phones (per 1000)|Arable (%)|Crops (%)|Other (%)|Climate|Birthrate|Deathrate|Agriculture|Industry|Service|
+--------------+------+--------+----+----+------+------+-----+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
| United States|   USA|   Tokyo|2020|  39|    41|    33|  113|NORTHERN AMERICA ...| 298444215|       9631420|                      31,0|                        0,21|         3,41|                               6,5|             37800|        97,0|            898,0|     19,13|     0,22|    80,65|      3|    14,14|     8,26|       0,01|   0,204|  0,787|
|         China|   CHN|   Tokyo|2020|  38|    32|    19|   89|ASIA (EX. NEAR EA...|1313973713|       9596960|                     136,9|                        0,15|         -0,4|                             24,18|              5000|        90,9|            266,7|      15,4|     1,25|    83,35|    1,5|    13,25|     6,97|      0,125|   0,473|  0,403|
|         Japan|   JPN|   Tokyo|2020|  27|    14|    17|   58|ASIA (EX. NEAR EA...| 127463611|        377835|                     337,4|                        7,87|            0|                              3,26|             28200|        99,0|            461,2|     12,19|     0,96|    86,85|      3|     9,37|     9,16|      0,017|   0,258|  0,725|
|United Kingdom|   GBR|   Tokyo|2020|  22|    20|    22|   64|WESTERN EUROPE   ...|  60609153|        244820|                     247,6|                        5,08|         2,19|                              5,16|             27700|        99,0|            543,5|     23,46|     0,21|    76,33|      3|    10,71|    10,13|      0,005|   0,237|  0,758|
|     Australia|   AUS|   Tokyo|2020|  17|     7|    22|   46|OCEANIA          ...|  20264082|       7686850|                       2,6|                        0,34|         3,98|                              4,69|             29000|       100,0|            565,5|      6,55|     0,04|    93,41|      1|    12,14|     7,51|      0,038|   0,262|    0,7|
|   Netherlands|   NED|   Tokyo|2020|  10|    12|    14|   36|WESTERN EUROPE   ...|  16491461|         41526|                     397,1|                        1,09|         2,91|                              5,04|             28600|        99,0|            460,8|     26,71|     0,97|    72,32|      3|     10,9|     8,68|      0,021|   0,244|  0,736|
|        France|   FRA|   Tokyo|2020|  10|    12|    11|   33|WESTERN EUROPE   ...|  60876136|        547030|                     111,3|                        0,63|         0,66|                              4,26|             27600|        99,0|            586,4|     33,53|     2,07|     64,4|      4|    11,99|     9,14|      0,022|   0,214|  0,764|
|       Germany|   GER|   Tokyo|2020|  10|    11|    16|   37|WESTERN EUROPE   ...|  82422299|        357021|                     230,9|                        0,67|         2,18|                              4,16|             27600|        99,0|            667,9|     33,85|     0,59|    65,56|      3|     8,25|    10,62|      0,009|   0,296|  0,695|
|         Italy|   ITA|   Tokyo|2020|  10|    10|    20|   40|WESTERN EUROPE   ...|  58133509|        301230|                     193,0|                        2,52|         2,07|                              5,94|             26700|        98,6|            430,9|     27,79|     9,53|    62,68|   NULL|     8,72|     10,4|      0,021|   0,291|  0,688|
|        Canada|   CAN|   Tokyo|2020|   7|     7|    10|   24|NORTHERN AMERICA ...|  33098932|       9984670|                       3,3|                        2,02|         5,96|                              4,75|             29800|        97,0|            552,2|      4,96|     0,02|    95,02|   NULL|    10,78|      7,8|      0,022|   0,294|  0,684|
|        Brazil|   BRA|   Tokyo|2020|   7|     6|     8|   21|LATIN AMER. & CAR...| 188078227|       8511965|                      22,1|                        0,09|        -0,03|                             29,61|              7600|        86,4|            225,3|      6,96|      0,9|    92,15|      2|    16,56|     6,17|      0,084|     0,4|  0,516|
|   New Zealand|   NZL|   Tokyo|2020|   7|     6|     7|   20|OCEANIA          ...|   4076140|        268680|                      15,2|                        5,63|         4,05|                              5,85|             21600|        99,0|            441,7|       5,6|     6,99|    87,41|      3|    13,76|     7,53|      0,043|   0,273|  0,684|
|          Cuba|   CUB|   Tokyo|2020|   7|     3|     5|   15|LATIN AMER. & CAR...|  11382820|        110860|                     102,7|                        3,37|        -1,58|                              6,33|              2900|        97,0|             74,7|     33,05|      7,6|    59,35|      2|    11,89|     7,22|      0,055|   0,261|  0,684|
|       Hungary|   HUN|   Tokyo|2020|   6|     7|     7|   20|EASTERN EUROPE   ...|   9981334|         93030|                     107,3|                        0,00|         0,86|                              8,57|             13900|        99,4|            336,2|     50,09|     2,06|    47,85|      3|     9,72|    13,11|      0,037|   0,312|  0,651|
|  Korea, South|   KOR|   Tokyo|2020|   6|     4|    10|   20|ASIA (EX. NEAR EA...|  48846823|         98480|                     496,0|                        2,45|            0|                              7,05|             17800|        97,9|            486,1|     17,18|     1,95|    80,87|      3|       10|     5,85|      0,033|   0,403|  0,563|
|        Poland|   POL|   Tokyo|2020|   4|     5|     5|   14|EASTERN EUROPE   ...|  38536869|        312685|                     123,3|                        0,16|        -0,49|                              8,51|             11100|        99,8|            306,3|     45,91|     1,12|    52,97|      3|     9,85|     9,89|       0,05|   0,311|   0,64|
|Czech Republic|   CZE|   Tokyo|2020|   4|     4|     3|   11|EASTERN EUROPE   ...|  10235455|         78866|                     129,8|                        0,00|         0,97|                              3,93|             15700|        99,9|            314,3|      39,8|     3,05|    57,15|      3|     9,02|    10,59|      0,034|   0,393|  0,573|
|         Kenya|   KEN|   Tokyo|2020|   4|     4|     2|   10|SUB-SAHARAN AFRIC...|  34707817|        582650|                      59,6|                        0,09|         -0,1|                             61,47|              1000|        85,1|              8,1|      8,08|     0,98|    90,94|    1,5|    39,72|    14,02|      0,163|   0,188|  0,651|
|        Norway|   NOR|   Tokyo|2020|   4|     2|     2|    8|WESTERN EUROPE   ...|   4610820|        323802|                      14,2|                        7,77|         1,74|                               3,7|             37800|       100,0|            461,7|      2,87|        0|    97,13|      3|    11,46|      9,4|      0,021|   0,415|  0,564|
|       Jamaica|   JAM|   Tokyo|2020|   4|     1|     4|    9|LATIN AMER. & CAR...|   2758124|         10991|                     250,9|                        9,30|        -4,92|                             12,36|              3900|        87,9|            124,0|     16,07|    10,16|    73,77|      2|    20,82|     6,52|      0,049|   0,337|  0,615|
+--------------+------+--------+----+----+------+------+-----+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
only showing top 20 rows

Most medals won in single year by a nation
+--------------+------+--------+----+----+------+------+-----+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
|       Country|Nation|Location|Year|Gold|Silver|Bronze|Total|              Region|Population|Area (sq. mi.)|Pop. Density (per sq. mi.)|Coastline (coast/area ratio)|Net migration|Infant mortality (per 1000 births)|GDP ($ per capita)|Literacy (%)|Phones (per 1000)|Arable (%)|Crops (%)|Other (%)|Climate|Birthrate|Deathrate|Agriculture|Industry|Service|
+--------------+------+--------+----+----+------+------+-----+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
| United States|   USA|   Paris|2024|  40|    44|    42|  126|NORTHERN AMERICA ...| 298444215|       9631420|                      31,0|                        0,21|         3,41|                               6,5|             37800|        97,0|            898,0|     19,13|     0,22|    80,65|      3|    14,14|     8,26|       0,01|   0,204|  0,787|
| United States|   USA|     Rio|2016|  46|    37|    38|  121|NORTHERN AMERICA ...| 298444215|       9631420|                      31,0|                        0,21|         3,41|                               6,5|             37800|        97,0|            898,0|     19,13|     0,22|    80,65|      3|    14,14|     8,26|       0,01|   0,204|  0,787|
| United States|   USA|   Tokyo|2020|  39|    41|    33|  113|NORTHERN AMERICA ...| 298444215|       9631420|                      31,0|                        0,21|         3,41|                               6,5|             37800|        97,0|            898,0|     19,13|     0,22|    80,65|      3|    14,14|     8,26|       0,01|   0,204|  0,787|
| United States|   USA|  London|2012|  48|    26|    30|  104|NORTHERN AMERICA ...| 298444215|       9631420|                      31,0|                        0,21|         3,41|                               6,5|             37800|        97,0|            898,0|     19,13|     0,22|    80,65|      3|    14,14|     8,26|       0,01|   0,204|  0,787|
| United States|   USA|  Athens|2004|  36|    39|    26|  101|NORTHERN AMERICA ...| 298444215|       9631420|                      31,0|                        0,21|         3,41|                               6,5|             37800|        97,0|            898,0|     19,13|     0,22|    80,65|      3|    14,14|     8,26|       0,01|   0,204|  0,787|
| United States|   USA| Atlanta|1996|  44|    32|    25|  101|NORTHERN AMERICA ...| 298444215|       9631420|                      31,0|                        0,21|         3,41|                               6,5|             37800|        97,0|            898,0|     19,13|     0,22|    80,65|      3|    14,14|     8,26|       0,01|   0,204|  0,787|
| United States|   USA|  Sydney|2000|  37|    24|    32|   93|NORTHERN AMERICA ...| 298444215|       9631420|                      31,0|                        0,21|         3,41|                               6,5|             37800|        97,0|            898,0|     19,13|     0,22|    80,65|      3|    14,14|     8,26|       0,01|   0,204|  0,787|
|         China|   CHN|  London|2012|  39|    31|    22|   92|ASIA (EX. NEAR EA...|1313973713|       9596960|                     136,9|                        0,15|         -0,4|                             24,18|              5000|        90,9|            266,7|      15,4|     1,25|    83,35|    1,5|    13,25|     6,97|      0,125|   0,473|  0,403|
|         China|   CHN|   Paris|2024|  40|    27|    24|   91|ASIA (EX. NEAR EA...|1313973713|       9596960|                     136,9|                        0,15|         -0,4|                             24,18|              5000|        90,9|            266,7|      15,4|     1,25|    83,35|    1,5|    13,25|     6,97|      0,125|   0,473|  0,403|
|        Russia|   RUS|  Athens|2004|  28|    26|    36|   90|C.W. OF IND. STATES | 142893540|      17075200|                       8,4|                        0,22|         1,02|                             15,39|              8900|        99,6|            280,6|      7,33|     0,11|    92,56|   NULL|     9,95|    14,65|      0,054|   0,371|  0,575|
|         China|   CHN|   Tokyo|2020|  38|    32|    19|   89|ASIA (EX. NEAR EA...|1313973713|       9596960|                     136,9|                        0,15|         -0,4|                             24,18|              5000|        90,9|            266,7|      15,4|     1,25|    83,35|    1,5|    13,25|     6,97|      0,125|   0,473|  0,403|
|        Russia|   RUS|  Sydney|2000|  32|    28|    29|   89|C.W. OF IND. STATES | 142893540|      17075200|                       8,4|                        0,22|         1,02|                             15,39|              8900|        99,6|            280,6|      7,33|     0,11|    92,56|   NULL|     9,95|    14,65|      0,054|   0,371|  0,575|
|         China|   CHN|     Rio|2016|  26|    18|    26|   70|ASIA (EX. NEAR EA...|1313973713|       9596960|                     136,9|                        0,15|         -0,4|                             24,18|              5000|        90,9|            266,7|      15,4|     1,25|    83,35|    1,5|    13,25|     6,97|      0,125|   0,473|  0,403|
|United Kingdom|   GBR|     Rio|2016|  27|    23|    17|   67|WESTERN EUROPE   ...|  60609153|        244820|                     247,6|                        5,08|         2,19|                              5,16|             27700|        99,0|            543,5|     23,46|     0,21|    76,33|      3|    10,71|    10,13|      0,005|   0,237|  0,758|
|United Kingdom|   GBR|  London|2012|  29|    18|    18|   65|WESTERN EUROPE   ...|  60609153|        244820|                     247,6|                        5,08|         2,19|                              5,16|             27700|        99,0|            543,5|     23,46|     0,21|    76,33|      3|    10,71|    10,13|      0,005|   0,237|  0,758|
|United Kingdom|   GBR|   Paris|2024|  14|    22|    29|   65|WESTERN EUROPE   ...|  60609153|        244820|                     247,6|                        5,08|         2,19|                              5,16|             27700|        99,0|            543,5|     23,46|     0,21|    76,33|      3|    10,71|    10,13|      0,005|   0,237|  0,758|
|        Russia|   RUS|  London|2012|  18|    21|    26|   65|C.W. OF IND. STATES | 142893540|      17075200|                       8,4|                        0,22|         1,02|                             15,39|              8900|        99,6|            280,6|      7,33|     0,11|    92,56|   NULL|     9,95|    14,65|      0,054|   0,371|  0,575|
|       Germany|   GER| Atlanta|1996|  20|    18|    27|   65|WESTERN EUROPE   ...|  82422299|        357021|                     230,9|                        0,67|         2,18|                              4,16|             27600|        99,0|            667,9|     33,85|     0,59|    65,56|      3|     8,25|    10,62|      0,009|   0,296|  0,695|
|        France|   FRA|   Paris|2024|  16|    26|    22|   64|WESTERN EUROPE   ...|  60876136|        547030|                     111,3|                        0,63|         0,66|                              4,26|             27600|        99,0|            586,4|     33,53|     2,07|     64,4|      4|    11,99|     9,14|      0,022|   0,214|  0,764|
|United Kingdom|   GBR|   Tokyo|2020|  22|    20|    22|   64|WESTERN EUROPE   ...|  60609153|        244820|                     247,6|                        5,08|         2,19|                              5,16|             27700|        99,0|            543,5|     23,46|     0,21|    76,33|      3|    10,71|    10,13|      0,005|   0,237|  0,758|
+--------------+------+--------+----+----+------+------+-----+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
only showing top 20 rows


Most medals won by a single nation in 2024
+--------------+------+--------+----+----+------+------+-----+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
|       Country|Nation|Location|Year|Gold|Silver|Bronze|Total|              Region|Population|Area (sq. mi.)|Pop. Density (per sq. mi.)|Coastline (coast/area ratio)|Net migration|Infant mortality (per 1000 births)|GDP ($ per capita)|Literacy (%)|Phones (per 1000)|Arable (%)|Crops (%)|Other (%)|Climate|Birthrate|Deathrate|Agriculture|Industry|Service|
+--------------+------+--------+----+----+------+------+-----+--------------------+----------+--------------+--------------------------+----------------------------+-------------+----------------------------------+------------------+------------+-----------------+----------+---------+---------+-------+---------+---------+-----------+--------+-------+
| United States|   USA|   Paris|2024|  40|    44|    42|  126|NORTHERN AMERICA ...| 298444215|       9631420|                      31,0|                        0,21|         3,41|                               6,5|             37800|        97,0|            898,0|     19,13|     0,22|    80,65|      3|    14,14|     8,26|       0,01|   0,204|  0,787|
|         China|   CHN|   Paris|2024|  40|    27|    24|   91|ASIA (EX. NEAR EA...|1313973713|       9596960|                     136,9|                        0,15|         -0,4|                             24,18|              5000|        90,9|            266,7|      15,4|     1,25|    83,35|    1,5|    13,25|     6,97|      0,125|   0,473|  0,403|
|United Kingdom|   GBR|   Paris|2024|  14|    22|    29|   65|WESTERN EUROPE   ...|  60609153|        244820|                     247,6|                        5,08|         2,19|                              5,16|             27700|        99,0|            543,5|     23,46|     0,21|    76,33|      3|    10,71|    10,13|      0,005|   0,237|  0,758|
|        France|   FRA|   Paris|2024|  16|    26|    22|   64|WESTERN EUROPE   ...|  60876136|        547030|                     111,3|                        0,63|         0,66|                              4,26|             27600|        99,0|            586,4|     33,53|     2,07|     64,4|      4|    11,99|     9,14|      0,022|   0,214|  0,764|
|     Australia|   AUS|   Paris|2024|  18|    19|    16|   53|OCEANIA          ...|  20264082|       7686850|                       2,6|                        0,34|         3,98|                              4,69|             29000|       100,0|            565,5|      6,55|     0,04|    93,41|      1|    12,14|     7,51|      0,038|   0,262|    0,7|